<div class="selection-component">
    <div class="selection-show" (click)="toggleDrop($event)">
        <span>{{ selections[nowIndex].label }}</span>
        <div
            class="arrow"
            [class.arrow1]="isDrop"
        >
        
        </div>
    </div>
    <div class="selection-list" *ngIf="isDrop">
        <ul>
            <li class="text-ellipsis"
                *ngFor="let item of selections; let i=index"
                (click)="chooseSelection(i, $event)">
                {{ item.label }}
            </li>
        </ul>
    </div>
</div>
