<div class="detail-wrap">
    <div class="detail-left clearfix">
        <div class="product-board">
            <img [src]="imgMap[productIndex]">
            <ul>
                <li *ngFor="let item of products; let i=index"
                    [routerLinkActive]="['active']">
                    <a [routerLink]="[item.path]" (click)="clickLink(i)" >
                        {{ item.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="detail-right clearfix">
        <router-outlet></router-outlet>
    </div>
</div>
