/* You can add global styles to this file, and also import other style files */

@import "/assets/css/normalize.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

$page-width: 1200px;
body {
    min-width: $page-width;

    color: #444;
    background: #f0f2f5;
    font-size: 14px;
}

.container {
    width: $page-width;
    margin: 0 auto;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}

.clearfix:after{
    clear: both;
}

/* 文本超出显示...样式 */
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* 公共分割线样式 */
.hr {
    height: 1px;
    width: 100%;
    background: #ddd;
}

/* 首页 产品和消息头部样式 */
.mess-title {
    background: #4fc08d;
    color: #fff;
    padding: 10px 15px;
    margin-bottom: 20px;
}






