/* You can add global styles to this file, and also import other style files */

@import "/assets/css/normalize.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

$page-width: 1200px;
body {
    min-width: $page-width;

    color: #444;
    background: #f0f2f5;
    font-size: 14px;
}

.container {
    width: $page-width;
    margin: 0 auto;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}

.clearfix:after{
    clear: both;
}

/* 文本超出显示...样式 */
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* 公共分割线样式 */
.hr {
    height: 1px;
    width: 100%;
    background: #ddd;
}

/* 首页 产品和消息头部样式 */
.mess-title {
    background: #4fc08d;
    color: #fff;
    padding: 10px 15px;
    margin-bottom: 20px;
}

/* 购买按钮公共样式 */
.button {
    background-color: #4fc08d;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .5s;

    border: 1px solid transparent;
    border-radius: 3px;

    &:hover {
        background-color: #06a8b5;
    }
}

// 错误提示样式
.remind {

    color: #f00;
}


/* 单选和多选组件公共样式 */
.chooser-component {
    position: relative;
    display: inline-block;

    .chooser-list {
        display: inline-block;

        li {
            display: inline-block;
            border: 1px solid #e3e3e3;
            height: 25px;
            line-height: 25px;
            padding: 0 8px;
            margin-right: 5px;
            border-radius: 3px;
            text-align: center;
            cursor: pointer;
        }

        li.active {
            border-color: #4fc08d;
            background: #4fc08d;
            color: #fff;
        }
    }
}

